/obj/Debug

bin/Debug/net8.0/DDDNetCore.dll
bin/Debug/net8.0/DDDNetCore.exe
bin/Debug/net8.0/DDDNetCore.pdb
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
TestsU/bin/Debug/net8.0/DDDNetCore.dll
TestsU/bin/Debug/net8.0/DDDNetCore.exe
TestsU/bin/Debug/net8.0/DDDNetCore.pdb
TestsU/obj/DDDNetCore.csproj.nuget.dgspec.json
TestsU/obj/DDDNetCore.csproj.nuget.dgspec.json
TestsU/obj/DDDNetCore.csproj.nuget.dgspec.json
TestsU/obj/DDDNetCore.csproj.nuget.dgspec.json
TestsU/obj/DDDNetCore.csproj.nuget.dgspec.json
TestsU/obj/DDDNetCore.csproj.nuget.g.props
TestsU/obj/project.assets.json
TestsU/obj/project.nuget.cache
/.idea
