/obj/Debug
/.idea
bin/Debug/net8.0
bin/Debug/net8.0/DDDNetCore.dll
bin/Debug/net8.0/DDDNetCore.exe
bin/Debug/net8.0/DDDNetCore.pdb
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
TestsU/bin/Debug/net8.0/DDDNetCore.dll
TestsU/bin/Debug/net8.0/DDDNetCore.exe
TestsU/bin/Debug/net8.0/DDDNetCore.pdb
TestsU/obj/DDDNetCore.csproj.nuget.dgspec.json
TestsU/obj/DDDNetCore.csproj.nuget.dgspec.json
TestsU/obj/DDDNetCore.csproj.nuget.dgspec.json
TestsU/obj/DDDNetCore.csproj.nuget.dgspec.json
TestsU/obj/DDDNetCore.csproj.nuget.dgspec.json
TestsU/obj/DDDNetCore.csproj.nuget.g.props
TestsU/obj/project.assets.json
TestsU/obj/project.nuget.cache
TestsU/obj/Debug
TestsU/bin/Debug
Testes/bin/Debug/net8.0
/bin/Debug/net8.0/TestsU/bin/Debug/net8.0/TestsU/bin/Debug/net8.0/
/bin/Debug/net8.0/TestsU/bin/Debug/net8.0/
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
TestsU/obj/project.assets.json
TestsU/obj/project.nuget.cache
TestsU/obj/TestsU.csproj.nuget.dgspec.json
TestsU/obj/TestsU.csproj.nuget.g.props
TestsU/obj/Debug/net8.0/TestsU.AssemblyInfo.cs
TestsU/obj/Debug/net8.0/TestsU.AssemblyInfoInputs.cache
TestsU/obj/Debug/net8.0/TestsU.assets.cache
TestsU/obj/Debug/net8.0/TestsU.csproj.AssemblyReference.cache
TestsU/obj/Debug/net8.0/TestsU.csproj.CoreCompileInputs.cache
TestsU/obj/Debug/net8.0/TestsU.csproj.FileListAbsolute.txt
TestsU/obj/Debug/net8.0/TestsU.dll
TestsU/obj/Debug/net8.0/TestsU.GeneratedMSBuildEditorConfig.editorconfig
TestsU/obj/Debug/net8.0/TestsU.genruntimeconfig.cache
TestsU/obj/Debug/net8.0/TestsU.pdb
TestsU/obj/Debug/net8.0/TestsU.sourcelink.json
TestsU/obj/Debug/net8.0/ref/TestsU.dll
TestsU/obj/Debug/net8.0/refint/TestsU.dll
docs/global artifacts/02.analysis/sprint1/Level3/logicalView3.vpp.bak_000f
docs/global artifacts/02.analysis/sprint1/Level3/logicalView3.vpp.bak_001d
docs/global artifacts/02.analysis/sprint1/Level3/logicalView3.vpp.bak_002d
docs/global artifacts/02.analysis/sprint1/Level3/logicalView3.vpp.bak_003d
docs/global artifacts/02.analysis/sprint1/Level3/logicalView3.vpp.bak_004d
docs/global artifacts/02.analysis/sprint1/Level3/logicalView3.vpp.vbak
docs/global artifacts/02.analysis/sprint1/Level3/logicalView3.vpp.vbak~1
docs/global artifacts/02.analysis/sprint1/Level3/logicalView3.vux.bak
docs/global artifacts/02.analysis/sprint2/level1LogicalAndImplementationView.png.vpp.bak_000d
docs/global artifacts/02.analysis/sprint2/level1LogicalAndImplementationView.png.vpp.bak_001f
docs/global artifacts/02.analysis/sprint2/level1LogicalAndImplementationView.vpp.bak_000f
docs/global artifacts/02.analysis/sprint2/level2LogicalAndImplementationView.vpp.bak_000f
docs/global artifacts/02.analysis/sprint2/level2LogicalAndImplementationView.vpp.bak_001d
docs/global artifacts/02.analysis/sprint2/level2LogicalAndImplementationView.vpp.bak_002d
docs/global artifacts/02.analysis/sprint2/level2LogicalAndImplementationView.vpp.bak_003d
docs/global artifacts/02.analysis/sprint2/level2LogicalAndImplementationView.vpp.bak_004d
docs/global artifacts/02.analysis/sprint1/Level1/logicalView.vpp.bak_000f
docs/global artifacts/02.analysis/sprint1/Level1/logicalView.vpp.vbak
docs/global artifacts/02.analysis/sprint1/Level1/logicalView.vpp.vbak~1
docs/global artifacts/02.analysis/sprint1/Level2/logicalView.vpp.bak_000f
docs/global artifacts/02.analysis/sprint1/Level2/logicalView.vpp.bak_001d
docs/global artifacts/02.analysis/sprint1/Level2/logicalView.vpp.vbak
docs/global artifacts/02.analysis/sprint1/Level2/logicalView.vpp.vbak~1
bin/Debug/net8.0/DDDNetCore.dll
