/obj/Debug
bin/Debug/net8.0/DDDNetCore.dll
bin/Debug/net8.0/DDDNetCore.exe
bin/Debug/net8.0/DDDNetCore.pdb
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.dgspec.json
obj/DDDNetCore.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
