<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient US's</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>



<!-- Modal para a Política -->
<div [ngStyle]="{'display': showPolicyModal ? 'block' : 'none'}" class="modal" id="policyModal" style="z-index: 9000">
  <div class="modal-content">
    <span (click)="closePolicyModal()" class="close">&times;</span>
    <h3>Policy Agreement</h3>
    <p>
      A sua privacidade é importante para nós. Este documento explica como recolhemos, utilizamos, partilhamos e protegemos os seus dados pessoais no âmbito do nosso projeto hospitalar, como alunos do cursos de Engenharia Informática do ISEP (Instituto Superior de Engenharia do Porto) em conformidade com o Regulamento Geral  sobre a Proteção de Dados (RGPD).
    </p>

    <h4>1. Quem Somos</h4>
    <p>
      Somos uma organização dedicada à prestação de cuidados de saúde e bem-estar, focada na gestão de consultas,
      cirurgias e recursos. Tratamos dados pessoais para garantir a melhor experiência e segurança aos nossos
      pacientes.
    </p>
    <p style="margin-bottom: 20px;">
      <strong>Contacte-nos:</strong> <br>
      Encarregado de Proteção de Dados (DPO): {{ 'mtf&#64;isep.ipp.pt' }}
    </p>

    <h4>2. Dados Pessoais que Recolhemos</h4>
    <p style="margin-bottom: 20px;">
      Recolhemos as seguintes informações:
    <ul>
      <li><strong>Identificação:</strong> Nome completo, data de nascimento, género, morada.</li>
      <li><strong>Contacto:</strong> Número de telemóvel, email.</li>
      <li><strong>Saúde:</strong> Histórico médico, alergias, contacto de emergência, número de registo médico.</li>
    </ul>
    Os dados são fornecidos diretamente pelos utilizadores ou, quando aplicável, através de terceiros, como hospitais
    parceiros.


    <h4 style="margin-top: 20px;">3. Tipo de Tratamento dos Dados Pessoais</h4>
    <p style="margin-bottom: 20px;">
      Os dados pessoais poderão ser usados por outros utilizadores da aplicação, no caso somente o próprio, o seu médico e terceiros com a devida autorização. <br>
      Desta forma, os dados serão utilizados para:
    <ul>
      <li><strong>Recolha:</strong> Obter dados dos utilizadores para tratamento no sistema.</li>
      <li><strong>Destruição:</strong> Eliminar dados quando deixarem de ser relevantes, por exemplo, a pedido do titular.</li>
      <li><strong>Divulgação:</strong> Partilhar dados com terceiros, como médicos responsáveis.</li>
      <li><strong>Conservação:</strong> Armazenar os dados na base de dados.</li>
      <li><strong>Consulta:</strong> Permitir acesso ao perfil do paciente por utilizadores autorizados (próprio ou médicos/staff: para confirmar dados, marcar cirurgias e registar o histórico médico do titular).</li>
      <li><strong>Alteração:</strong> Atualizar ou corrigir dados de utilizadores.</li>
      <li><strong>Organização:</strong> Estruturar os dados para consultas futuras.</li>
      <li><strong>Limitações:</strong> Restringir o acesso com base no papel do utilizador (ex.: pacientes acessam apenas os seus próprios dados).</li>        
    </ul>


    <h4>4. Finalidades do Tratamento dos Dados</h4>
    <p style="margin-bottom: 20px;">
      Os dados pessoais recolhidos são tratados para as seguintes finalidades, de acordo com o Artigo 5.º 
      do RGPD:
    <ul>
      <li><strong>Agendamento e gestão de consultas e cirurgias:</strong> Os dados, como nome, email, número de telemóvel, alergias e histórico médico, são utilizados para organizar e gerir consultas e cirurgias com eficiência. Esses dados são essenciais para a prestação de serviços clínicos, garantindo que as necessidades do paciente sejam atendidas adequadamente. </li>
      <li><strong>Personalização de experiências:</strong>Envio de mensagens personalizadas por email (e.g., lembretes de consultas ou outras comunicações relevantes para o paciente). </li>
      <li><strong>Emergências médicas:</strong> Os contactos de emergência e informações de saúde, como histórico médico e alergias, são utilizados para proteger a vida e a integridade física do titular em emergências médica. </li>
      <li><strong>Cumprimento de obrigações legais:</strong> Conservação de nome, morada, histórico médico, e alergias por 20 anos, após o último registro de atividade médica, conforme exigido por lei, uma vez que estes dados são essenciais para assegurar a continuidade dos cuidados de saúde. Para a personalização da experiencia, os dados serão guardados até que o titular solicite a revogação do consentimento ou os dados deixem de ser relevantes para a finalidade. </li>
      <li><strong>Monitorização do sistema:</strong> Análise de dados como nome, email, histórico de acessos e alergias para garantir a segurança e eficiência do sistema de informação, evitando acessos não autorizados, perdas de dados ou falhas operacionais. 
      </li>
      <br> Sendo assim, cada finalidade é justificada conforme os Artigos 6.º e 9.º do RGPD.
    </ul>


    <h4>5. Base Legal para o Tratamento</h4>
    <p style="margin-bottom: 20px;">
      O tratamento dos dados pessoais baseia-se nos seguintes fundamentos legais, conforme o Artigo 6.º e Artigo 9.º do RGPD:
    <ul>
      <li><strong>Consentimento:</strong> Para comunicações personalizadas e partilha de dados com terceiros.</li>
      <li><strong>Execução de Contrato:</strong> Para a prestação de serviços de saúde contratados.</li>
      <li><strong>Obrigatoriedade Jurídica:</strong> Para cumprir normas legais aplicáveis ao setor da saúde e de
        acordo com a Constituição/lei portuguesa.</li>
      <li><strong>Interesse Vital:</strong> Em emergências médicas, para proteger a vida ou integridade do titular dos
        dados.</li>
      <li><strong>Interesse Legítimo:</strong> Para garantir a segurança do sistema e melhorar os nossos serviços.
      </li>
    </ul>


    <h4>6. Com Quem Partilhamos os Seus Dados</h4>
    <p style="margin-bottom: 20px;">
      Partilhamos os seus dados apenas quando estritamente necessário e de forma segura com:
    <ul>
      <li><strong>Profissionais de saúde:</strong> Médicos, enfermeiros e outros profissionais clínicos.</li>
      <li><strong>Autoridades legais:</strong> Quando exigido por lei.</li>
    </ul>
    Todos os terceiros com quem colaboramos estão sujeitos a acordos de confidencialidade e ao cumprimento do RGPD.


    <h4 style="margin-top: 20px;">7. Tempo de Conservação dos Dados</h4>
    <p style="margin-bottom: 20px;">
      Conservamos os seus dados pessoais apenas pelo tempo necessário para cumprir as finalidades descritas nesta
      Política:
    <ul>
      <li><strong>Histórico médico e alergias:</strong> Conservados por 20 anos, conforme obrigações legais.</li>
      <li><strong>Dados de contacto:</strong> Mantidos até que o titular solicite o apagamento ou deixe de ser
        relevante.</li>
      <li><strong>Outros dados:</strong> Eliminados após o período definido para cada finalidade.</li>
    </ul>


    <h4 style="margin-top: 20px;">8. Os Seus Direitos</h4>
    <p style="margin-bottom: 20px;">
      Enquanto titular dos dados, tem os seguintes direitos garantidos pelo RGPD:
    <ul>
      <li><strong>Acesso:</strong> Pode solicitar informações sobre os dados pessoais que temos sobre si.</li>
      <li><strong>Retificação:</strong> Pode corrigir dados incorretos ou incompletos.</li>
      <li><strong>Apagamento:</strong> Tem o direito de solicitar o apagamento dos seus dados, exceto quando a lei
        exigir a conservação.</li>
      <li><strong>Portabilidade:</strong> Pode pedir uma cópia dos seus dados em formato eletrônico, na aplicação.
      </li>
      <li><strong>Oposição:</strong> Pode opor-se ao tratamento dos seus dados em certas situações.</li>
      Caso o titular se recuse a consentir o tratamento dos dados, haverá restrições nas funcionalidades desta aplicação. Se for um paciente, não conseguirá atualizar o seu perfil. Para o caso de um médico ou staff, não será possível registar ou atualizar pacientes, criar ou atualizar alergias, condições médicas, histórico médico ou marcação de cirurgias. 
      <li><strong>Limitação:</strong> Pode solicitar a limitação do tratamento dos seus dados em condições
        específicas.</li>
    </ul>


    <p style="margin-bottom: 20px;">
      Para exercer os seus direitos, contacte-nos através do email {{ 'mtf&#64;isep.ipp.pt' }}.
    </p>

    <h4 style="margin-top: 20px;"> 9. Segurança dos Dados </h4>
    <p style="margin-bottom: 20px;">
      Implementamos medidas de segurança técnicas e organizacionais para proteger os seus dados pessoais contra acesso não autorizado, alteração, destruição ou divulgação. Asseguramos também a encriptação e monitorização regular do sistema.
    </p>

    <h4 style="margin-top: 20px;"> 10. Violações de Dados </h4>
    <p style="margin-bottom: 20px;">
      Em caso de violação de dados pessoais, notificaremos a Comissão Nacional de <strong> Proteção de Dados
        (CNPD)</strong> em até 72 horas após o incidente e informaremos os titulares dos dados quando for aplicável.
    </p>

    <h4 style="margin-top: 20px;"> 11. Atualizações desta Política </h4>
    <p style="margin-bottom: 20px;">
      Esta Política de Privacidade pode ser atualizada periodicamente para refletir mudanças legais ou operacionais.
      Recomendamos que consulte esta página regularmente.
    </p>

    <p style="margin-bottom: 20px;">
      <strong> Data da última atualização: 27 de dezembro de 2024 </strong>
    </p>


    <div class="text-center">
      <button class="btn btn-success me-3" (click)="acceptPolicy()">Accept</button>
      <button class="btn btn-danger" (click)="rejectPolicy()">Decline</button>
    </div>
  </div>
</div>


    <div class="container-xxl">

        <h1 class="h1 title glow" style="padding: 1cm; color:white"> Patient </h1>
        <!--TODO: Alterar o formato de como esta a organização/divisão das divs par aficar de forma mas dinamica-->
        <div class="row g-3">
          <div class="container col-md-4">
            <div class="container-lg  selectionDiv" (click)="openModal('UpdatePatientModal')">
              <div class="form-floating mb-3">
                  <h3 class="title" >Update Patient Profile</h3>
              </div>
            </div>
          </div>

          <div class="container col-md-4">
            <div class="container-lg  selectionDiv" (click)="deactivatePatient()">
              <div class="form-floating mb-3">
                  <h3 class="title" >Delete Patient Profile</h3>
              </div>
            </div>
          </div>

          <div class="container col-md-4">
            <div class="container-lg selectionDiv" (click)="openModal('viewPatientModal')">
              <div class="form-floating mb-3">
                <h3 class="title" >View Patient Profile</h3>
              </div>
            </div>
          </div>
    
        </div>
</div>



<div [ngStyle]="{'display': isModalOpen('UpdatePatientModal') ? 'block' : 'none'}" id="UpdatePatientModal" class="modal" >
  <div class="modal-content">
      <span (click)="closeModal('UpdatePatientModal')" class="close">&times;</span>

        <form [formGroup]="patientUpdateForm" class="row g-3 needs-validation" novalidate="">
          <div *ngIf="patientProfileSingle">
            <div  class="row g-3 needs-validation">
            <div class="col-md-12"></div>
              <div class="col-md-3">
                <div class="input-group has-validation">
                  <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge-fill"></i></span>
                  <input type="text" class="form-control" value="{{ patientProfileSingle.name.firstName }} {{patientProfileSingle.name.middleNames}} {{patientProfileSingle.name.lastName}}" formControlName="name">
                </div>
              </div>
              <div class="col-md-3">
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
                  <input type="text" class="form-control"aria-describedby="inputGroupPrepend"  value="{{ patientProfileSingle.email.fullEmail }}" formControlName="email">
                </div>
              </div>
    
    
              <div class="col-md-3">
                <div class="input-group has-validation">
                  <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
                  <input type="text" class="form-control"  value="{{ patientProfileSingle.phone.number }}" formControlName="phone">
                </div>
              </div>
    
    
    
              <div class="col-md-3">
                <div class="input-group has-validation">
                  <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-vcard-fill"></i></span>
                  <input type="text" class="form-control" value="{{ patientProfileSingle.userEmail.fullEmail }}" formControlName="userEmail">
                </div>
              </div>
    
            
    
              <div class="col-md-4">
                <div class="input-group has-validation">
                  <span class="input-group-text" id="basic-addon1"><i class="bi bi-gender-ambiguous"></i></span>
                  <input type="text" class="form-control" value="{{ patientProfileSingle.gender }}" formControlName="gender">
                </div>
              </div>
    
    
    
    
    
    
              <h5 class="form-label">Emergency Contact</h5>
    
    
    
              <div class="col-md-4">
                <div class="input-group has-validation">
                  <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge"></i></span>
                  <input type="text" class="form-control" value="{{ patientProfileSingle.nameEmergency }}" formControlName="emergencyContactName">
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="input-group has-validation">
                  <span class="input-group-text" id="basic-addon1"><i class="bi bi-gender-ambiguous"></i></span>
                  <input type="text" class="form-control" value="{{ patientProfileSingle.emailEmergency.fullEmail }}" formControlName="emergencyContactEmail">
                </div>
              </div>
    
    
    
              <div class="col-md-4">
                <div class="input-group has-validation">
                  <span class="input-group-text" id="basic-addon1"><i class="bi bi-heart-pulse"></i></span>
                  <input type="text" class="form-control" value="{{ patientProfileSingle.phoneEmergency.number }}" formControlName="emergencyContactPhone">
                </div>
              </div>
    
    
    
    
              <hr>
              <div class="col-md-2"></div>

              <div class="col-md-3"> 
                <div class="input-group has-validation">
                  <span class="input-group-text" style="width:20%" id="basic-addon1"><i class="bi bi-clock-fill"></i></span>
                  <span class="input-group-text" style="width:60%" id="add">Appointment History</span>
                </div>
                <table class="table table-striped table-hover table-over-update" style="scrollbar-width: none;">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let request of appointmentHistory; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ request }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
                <div class="col-md-6"> <!-- Dates input section -->
                  <div class="dates-input ms-10"> <!-- Dates input section -->
                  <ul id="dates">
                    
                    <li *ngFor="let date of appointmentHistory; let i = index" class="date">
                      {{ date }}
                      <button type="button" class="delete-button" (click)="removeDate(i)">X</button>
                    </li>
                  </ul>
                  <input type="date" id="input-date" (change)="addDate($event)" placeholder="Add appointment date" />
                </div>
              </div>
              <div class="col-md-1"></div>

              
              <div class="col-md-2"></div>

              <!--<div class="col-md-3">
  

                <div class="input-group has-validation">
                  <span class="input-group-text" style="width:20%" id="basic-addon1"><i class="bi bi-virus"></i></span>
                  <span class="input-group-text" style="width:60%" id="add">Allergies</span>
                </div>
                <table class="table table-striped table-hover table-over-update" style="scrollbar-width: none;">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let request of tags; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ request }}</td>
                    </tr>
                  </tbody>
                </table>  
            </div>
              
                <div class="col-md-6">
                  <label for="validationCustom06" class="form-label">Allergies</label>
                  <div class="tags-input">
                    <ul id="tags">
                      <li *ngFor="let tag of tags; let i = index" class="tag">
                        {{ tag }}
                        <button class="delete-button" (click)="removeTag(i)">X</button>
                      </li>
                    </ul>
                    <input type="text" id="input-tag" (keydown)="addTag($event)" placeholder="Enter allergies name" />
                  </div>
                </div>

              <div class="col-md-1"></div>-->


          </div>


          


          <!--<div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="invalidCheck" formControlName="agree" required="">
              <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div>!-->

          <div class="col-12" style="margin-bottom: 20px;">
            <button type="button" class="btn btn-secondary" id="updatePatientPolicy" (click)="openPolicyModal()">Read and Agree to Policy</button>
        </div>

       

        <div class="col-12">
          <button class="btn btn-primary" id="updatePatientModalButton" [disabled]="!isPolicyAccepted" (click)="onUpdatePatient()">Submit form</button>
        </div>
        </div>
      </form>
  </div>
</div>

<div [ngStyle]="{'display': isModalOpen('viewPatientModal') ? 'block' : 'none'}" id="viewPatientModal"  class="modal">
  <div class="modal-content">   
    
      <span (click)="closeModal('viewPatientModal')" class="close">&times;</span>
      <form [formGroup]="myForm" (ngSubmit)="viewPatient()" class="row g-3 needs-validation" novalidate="">
        <div *ngIf="patientProfileSingle">
        <div  class="row g-3 needs-validation">
        <div class="col-md-12"></div>
          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge-fill"></i></span>
              <input type="text" class="form-control" disabled="" value="{{ patientProfileSingle.name.firstName }} {{patientProfileSingle.name.middleNames}} {{patientProfileSingle.name.lastName}}">
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
              <input type="text" class="form-control"aria-describedby="inputGroupPrepend" disabled="" value="{{ patientProfileSingle.email.fullEmail }}">
            </div>
          </div>


          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
              <input type="text" class="form-control"  value="{{ patientProfileSingle.phone.number }}" disabled>
            </div>
          </div>



          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-vcard-fill"></i></span>
              <input type="text" class="form-control" value="{{ patientProfileSingle.userEmail.fullEmail }}" disabled>
            </div>
          </div>

          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar-date"></i></span>
              <input type="date" class="form-control" [value]="formatDateToISO(patientProfileSingle.dateOfBirth)"  disabled >
            </div>
          </div>

          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-gender-ambiguous"></i></span>
              <input type="text" class="form-control" value="{{ patientProfileSingle.gender }}" disabled>
            </div>
          </div>



          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-heart-pulse"></i></span>
              <input type="text" class="form-control" value="{{ patientProfileSingle.medicalRecordNumber.number }}" disabled>
            </div>
          </div>

          <hr>



          <h5 class="form-label">Emergency Contact</h5>



          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge"></i></span>
              <input type="text" class="form-control" value="{{ patientProfileSingle.nameEmergency }}" disabled>
            </div>
          </div>

          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-gender-ambiguous"></i></span>
              <input type="text" class="form-control" value="{{ patientProfileSingle.emailEmergency.fullEmail }}" disabled>
            </div>
          </div>



          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-heart-pulse"></i></span>
              <input type="text" class="form-control" value="{{ patientProfileSingle.phoneEmergency.number }}" disabled>
            </div>
          </div>





          <div class="col-md-12"></div>
          <hr>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-clock-fill"></i></span>
              <span class="input-group-text" id="add">Appointment History</span>
            </div>
            <table class="table table-striped table-hover table-over" style="scrollbar-width: none;">
              <thead>
                <tr>
                  <tr>
                    <th>#</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let request of patientProfileSingle.appointmentHistory; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ request }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!--<div class="col-md-5">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-virus"></i></span>
              <span class="input-group-text" id="add">Allergies</span>
            </div>
            <table class="table table-striped table-hover table-over" style="scrollbar-width: none;">
              <thead>
                <tr>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let request of patientProfileSingle.allergies; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ request }}</td>
                </tr>
              </tbody>
            </table>
          </div>-->

          <button class="fs-5 btn btn-outline-info" (click)="getMedicalRecord()">View Medical Record <i class="bi bi-info-square-fill"></i></button>


          <div class="col-md-2"></div>
        </div>
        </div>
      
    </form>
  </div>
</div>


    
    
<div [ngStyle]="{'display': isModalOpen('ViewMedicalRecord') ? 'block' : 'none'}" id="ViewMedicalRecord" class="modal">
  <div class="modal-content">
    <span (click)="closeModal('ViewMedicalRecord')" class="close">&times;</span>
    <form  class="row g-3 needs-validation" novalidate="">
      <div *ngIf="medicalRecordProfile">
        <div class="row g-3 needs-validation">
          <div class="col-md-12"></div>
  
      

            <!-- Allergies Section -->
            <div class="col-md-10">
              <div class="input-group has-validation">
                <span class="input-group-text" style="width:20%" id="basic-addon1"><i class="bi bi-virus"></i></span>
                <span class="input-group-text" style="width:60%" id="add">Allergies</span>
              </div>
              <table class="table table-striped table-hover table-over-update" style="scrollbar-width: none;">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>               
                  <tr *ngFor="let tag of tagsAllergies; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ tag.designacao }}</td>
                    <td>{{ tag.descricao }}</td>
                    <td>{{ tag.status }}</td>
                   
                  </tr>                
                </tbody>
              </table>
            </div>
          
  


          <div class="col-mb-4"></div>


          <!-- Medical Conditions Section -->
          <div class="col-md-10">
            <div class="input-group has-validation">
              <span class="input-group-text" style="width:20%" id="basic-addon1"><i class="bi bi-virus"></i></span>
              <span class="input-group-text" style="width:60%" id="add">Medical Conditions</span>
            </div>
            <table class="table table-striped table-hover table-over-update"style="scrollbar-width: none;">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Symptoms</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let condition of tagsConditions; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ condition.codigo }}</td>
                  <td>{{ condition.designacao }}</td>
                  <td>{{ condition.descricao }}</td>
                  <td>{{ condition.status }}</td>
                  <td>{{ condition.sintomas }}</td>
                 
                </tr>
              </tbody>
            </table>
          </div>


          <div class="col-md-10">
            <div class="input-group has-validation">
              <span class="input-group-text" style="width:20%" id="basic-addon1"><i class="bi bi-virus"></i></span>
              <span class="input-group-text" style="width:60%" id="add">Free text</span>
            </div>
            
            <!-- Tabela será exibida apenas se descricaoList tiver itens -->
            <table *ngIf="descricaoList && descricaoList.length > 0" class="table table-striped table-hover table-over-update" style="scrollbar-width: none;">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let description of descricaoList; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ description }}</td>
                </tr>
              </tbody>
            </table>
          
            <!-- Mensagem para quando não houver dados -->
            <p *ngIf="descricaoList && descricaoList.length === 0" class="text-muted">No descriptions available.</p>
          </div>


          
          
        

         
        </div>

       

       
      </div>
    </form>
     
  </div>
</div>


<div class="container-xxl">
  <button class="btn-right" (click)="logout()">Logout</button>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



</body>


</html>
