/* Global Styles */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f0f8ff, #87cefa) no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

/* Container Styles */
.container-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #f0f8ff;
  border: 2px solid #0e79a3;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
}

/* Button Styles */
.btnBl {
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 100%);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.btnBl:hover {
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 100%);
  transform: scale(1.2);
}

/* Selection Div Styles */
.selectionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.6;
  background: linear-gradient(180deg, rgba(185,243,252,1) 0%, rgba(147,198,231,1) 45%, rgba(120,157,188,1) 87%);
  transition: transform 0.5s, opacity 0.5s;
}

.selectionDiv:hover {
  transform: scale(1.2);
  opacity: 1;
}

.selectionDiv .title {
  font-size: 45px;
  color: #fef9f2;
}

/* Centering Utility Class */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 18px;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

/* Form Validation */
.is-invalid {
  border-color: #dc3545;
}

.is-valid {
  border-color: #28a745;
}

/* Tags Input */
.tags-input {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 2px 2px 5px #00000033;
  width: 100%;
}

.tags-input ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags-input li {
  display: inline-block;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 5px 5px 0;
}

.tags-input input[type="text"] {
  border: none;
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

/* Glowing Text */
.glow {
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
  text-shadow: 1.5px 1.5px 1px black;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #eee, 0 0 15px rgba(0,230,255,1), 0 0 30px rgba(9,67,121,1);
  }
  to {
    text-shadow: 0 0 5px #eee, 0 0 15px #0b135b, 0 0 30px #0b135b;
  }
}

/* Table Styles */
.table-wrapper {
  background: #f5f5f5;
  padding: 20px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 95%;
  overflow-x: auto;
}

.table-title {
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
  margin: 0 -31px 10px;
  padding: 15px 30px;
  color: #000000;
  align-items: center;
}

.table-title h2 {
  margin: 0;
  font-size: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

.selected-row {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 0.25rem rgba(17, 134, 23, 0.5);
}

.action-buttons {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

.action-buttons button {
  background-color: #f8f9fa;
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-buttons button:hover {
  background-color: #7fb7f3;
}

.btn-right {
  background: linear-gradient(0deg, rgb(222, 70, 70) 0%, rgba(255,80,80,1) 50%, rgb(212, 134, 134) 100%);
  color: white;
  border: 2px solid #e40d0d;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 20px; /* Tamanho menor */
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  right: 200px; /* Posicionamento no canto direito */
  top: 60px; /* Ajuste da posição no eixo vertical */
}

.btn-right:hover {
  background: rgb(255,0,0);
  background: radial-gradient(circle, rgba(255, 0, 0, 0.411) 0%, rgba(255,80,80,1) 50%, rgba(255,0,0,1) 100%);
  transform: scale(1.1);
  transition: transform 0.3s, background-color 0.3s;
}

canvas {
  display: block;
}

.canvas-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}