<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin US's</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>

    <div class="container-xxl ">

        <h1 class="h1 title glow" style="padding: 1cm; color:white"> Admin </h1>
        <!--TODO: Alterar o formato de como esta a organização/divisão das divs par aficar de forma mas dinamica-->
        <div class="row g-3">
          <div class="container col-md-4">
            <div class="container-lg  selectionDiv" (click)="openModal('registerPatientModal')">
              <div class="form-floating mb-3">
                  <h3 class="title" >Register Patient Profile</h3>
              </div>
            </div>
          </div>

            <div class="container col-md-4">
              <div class="container-lg selectionDiv" (click)="openModal('listPatientModal')">
                <div class="form-floating mb-3">
                  <h3 class="title" >List Patient Profile</h3>
                </div>
              </div>
            </div>

            
            <div class="container col-md-4">
              <div class="container-lg  selectionDiv" (click)="openModal('registerStaffModal')">
                <div class="form-floating mb-3">
                    <h3 class="title" >Register Staff Profile</h3>
                </div>
              </div>
            </div>

            <div class="container col-md-4">
              <div class="container-lg selectionDiv" (click)="openModal('listStaffModal')">
                <div class="form-floating mb-3">
                  <h3 class="title" >List Staff Profile</h3>
                </div>
              </div>
            </div>

        </div>
</div>















<!----------------------------------------------- The Modals --------------------------------------------------------->
<!----------------------------------------------- The Modals --------------------------------------------------------->
<!----------------------------------------------- The Modals --------------------------------------------------------->
<!----------------------------------------------- The Modals --------------------------------------------------------->
<!----------------------------------------------- The Modals --------------------------------------------------------->

 <!-- (click)="onBackdropClick($event)" -->




<div [ngStyle]="{'display': isModalOpen('registerPatientModal') ? 'block' : 'none'}" id="registerPatientModal"  class="modal" >
    <div class="modal-content">
        <span (click)="closeModal('registerPatientModal')" class="close">&times;</span>
        <div>

          <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate="">
            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">Name</label>
              <input type="text" class="form-control" id="validationCustom01" placeholder="Name" formControlName="name" required="">
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Date of Birth</label>
              <input type="date" class="form-control" id="validationCustom02" formControlName="dateOfBirth" required="">
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="col-md-4">
              <label for="validationCustomUsername" class="form-label">User Email</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
                <input type="text" class="form-control" id="validationCustomUserEmail" aria-describedby="inputGroupPrepend" formControlName="userEmail" required="">
                <div class="invalid-feedback">
                  Please choose a userEmail.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <label for="validationCustomUsername" class="form-label">Email</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
                <input type="email" class="form-control" id="validationCustomEmail" aria-describedby="inputGroupPrepend" formControlName="email" required="">
                <div class="invalid-feedback">
                  Please choose a valid email.
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Phone</label>
              <input type="number" class="form-control" id="validationCustom02" formControlName="phone" min="0" max="999999999" required="">
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="col-md-3">
              <label for="validationCustom04" class="form-label">Gender</label>
              <select class="form-select" id="validationCustom04" formControlName="gender" required="">
                <option selected="" disabled="" value="">Choose...</option>
                <option>Male</option>
                <option>Female</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>

            <div class="col-md-6">
              <label for="appointmentHistory" class="form-label">Appointment History</label>
              <div class="dates-input">
                <ul id="dates">
                  <li *ngFor="let date of appointmentHistory; let i = index" class="date">
                    {{ date }}
                    <button class="delete-button" (click)="removeDate(i)">X</button>
                  </li>
                </ul>
                <input type="date" id="input-date" (change)="addDate($event)" placeholder="Add appointment date" />
              </div>
            </div>

            <!--<div class="col-md-6">
              <label for="validationCustom06" class="form-label">Allergies</label>
              <div class="tags-input">
                <ul id="tags">
                  <li *ngFor="let tag of tags; let i = index" class="tag">
                    {{ tag }}
                    <button class="delete-button" (click)="removeTag(i)">X</button>
                  </li>
                </ul>
                <input type="text" id="input-tag" formControlName="allergies" (keydown)="addTag($event)" placeholder="Enter allergies name" />
              </div>
            </div>-->

            <h5 style="margin-top:1cm" class="form-label">Emergency Contact</h5>

            <div class="col-md-4">
              <label for="emergencyContactName" class="form-label">Name</label>
              <input type="text" class="form-control" id="emergencyContactName" formControlName="emergencyContactName" required="">
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="col-md-4">
              <label for="emergencyContactEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="emergencyContactEmail" formControlName="emergencyContactEmail" required="">
              <div class="invalid-feedback">
                Please choose a valid email.
              </div>
            </div>

            <div class="col-md-4">
              <label for="emergencyContactPhone" class="form-label">Phone</label>
              <input type="number" class="form-control" id="emergencyContactPhone" formControlName="emergencyContactPhone" min="0" max="999999999" required="">
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="invalidCheck" formControlName="agree" required="">
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>

            <div class="col-12">
              <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid">Submit form</button>
            </div>
          </form>
        </div>

    </div>
</div>



<div  [ngStyle]="{'display': isModalOpen('listPatientModal') ? 'block' : 'none'}" id="listPatientModal" class="modal" >
  <div class="modal-content">
      <span (click)="closeModal('listPatientModal')" class="close">&times;</span>
      <div>

      <form  class="row g-3 needs-validation" novalidate="">
          <div class="col-md-2"></div>

          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
            <input type="text" class="form-control" id="validationCustom01"  name="searchTerm" placeHolder="Search" [(ngModel)]="searchTerm" (input)="onFilterChange()">
          </div>
        </div>
          <div class="col-md-2">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
            <select class="form-select" id="validationCustom1" [(ngModel)]="filterField"  name="filterField" (change)="onFilterChange()" required>
              <option selected="" disabled="" value="">Choose...</option>
              <option>Name (WIP)</option>
              <option>Id</option>
              <option>Medical Record Number</option>
              <option>Email</option>
            </select>

          </div>
        </div>

          <div class="col-md-12">
            <div class="table-wrapper" >
              <div class="table-title">
              <form [formGroup]="patientForm" (ngSubmit)="onSubmitPatient()" class="row g-3 needs-validation" novalidate="">
              <table class="table table-striped table-hover table-over">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Medical Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>Active</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let request of patientsProfiles; let i = index" (click)="selectPatient(request.email.fullEmail)" [ngClass]="{ 'selected-row': selectedPatientEmail === request.email.fullEmail }">
                    <td>{{ i + 1 }}</td>
                    <td><input class="selectRequest" type="radio" id="patient_{{ request.email.fullEmail }}" name="patientFormID" value="{{ request.email.fullEmail }}" [checked]="selectedPatientEmail === request.email.fullEmail" hidden>{{ request.id }}</td>
                    <td>{{ request.medicalRecordNumber.number }} </td>
                    <td>{{ request.name.firstName }}</td>
                    <td>{{ request.name.lastName }}</td>
                    <td>{{ request.email.fullEmail }}</td>
                    <td>{{ request.phone.number }}</td>
                    <td>{{ request.gender }}</td>
                    <td>{{ request.dateOfBirth }}</td> <!-- Use 'date' pipe -->
                    <td id="active_{{ request.email.fullEmail }}_{{request.active}}">
                      <span *ngIf="request.active; else failure" class="badge rounded-pill bg-success">Yes</span>
                      <ng-template #failure>
                        <span class="badge rounded-pill bg-danger">No</span>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-9"></div>
        <div class="col-md-3">
          <button class="fs-5 btn btn-outline-info" (click)="viewPatient()">View <i class="bi bi-info-square-fill"></i></button>
          <button class="fs-5 btn btn-outline-warning" (click)="editPatient()">Edit <i class="bi bi-pencil-square"></i></button>
          <button class="fs-5 btn btn-outline-danger" (click)="deactivatePatient()">Deactivate <i class="bi bi-archive-fill"></i></button>
        </div>
        </form>
      </div>

  </div>
</div>


<div [ngStyle]="{'display': isModalOpen('viewPatientModal') ? 'block' : 'none'}" id="viewPatientModal"  class="modal">
  <div class="modal-content">
      <span (click)="closeModal('viewPatientModal')" class="close">&times;</span>
      <div *ngIf="patientProfileSingle">
        <div  class="row g-3 needs-validation">
        <div class="col-md-12"></div>
          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge-fill"></i></span>
                <input type="text" class="form-control" disabled="" value="{{ patientProfileSingle.name.firstName }} {{patientProfileSingle.name.middleNames}} {{patientProfileSingle.name.lastName}}">
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
              <input type="text" class="form-control"aria-describedby="inputGroupPrepend" disabled="" value="{{ patientProfileSingle.email.fullEmail }}">
            </div>
          </div>

          
          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
              <input type="text" class="form-control"  value="{{ patientProfileSingle.phone.number }}" disabled>
            </div>
          </div>


          
          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-vcard-fill"></i></span>
              <input type="text" class="form-control" value="{{ patientProfileSingle.userEmail.fullEmail }}" disabled>
            </div>
          </div>

          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar-date"></i></span>
              <input type="date" class="form-control" [value]="formatDateToISO(patientProfileSingle.dateOfBirth)"  disabled >
            </div>
          </div>

          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-gender-ambiguous"></i></span>
              <input type="text" class="form-control" value="{{ patientProfileSingle.gender }}" disabled>
            </div>
          </div>



          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-heart-pulse"></i></span>
              <input type="text" class="form-control" value="{{ patientProfileSingle.medicalRecordNumber.number }}" disabled>
            </div>
          </div>

          <hr>



          <h5 class="form-label">Emergency Contact</h5>



          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge"></i></span>
              <input type="text" class="form-control" value="{{ patientProfileSingle.nameEmergency }}" disabled>
            </div>
          </div>

          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-at"></i></span>
              <input type="text" class="form-control" value="{{ patientProfileSingle.emailEmergency.fullEmail }}" disabled>
            </div>
          </div>



          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone"></i></span>
              <input type="text" class="form-control" value="{{ patientProfileSingle.phoneEmergency.number }}" disabled>
            </div>
          </div>





          <div class="col-md-12"></div>
          <hr>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-clock-fill"></i></span>
              <span class="input-group-text" id="add">Appointment History</span>
            </div>
            <table class="table table-striped table-hover table-over" style="scrollbar-width: none;">
              <thead>
                <tr>
                  <tr>
                    <th>#</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let request of patientProfileSingle.appointmentHistory; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ request }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-5">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-virus"></i></span>
              <span class="input-group-text" id="add">Allergies</span>
            </div>
            <table class="table table-striped table-hover table-over" style="scrollbar-width: none;">
              <thead>
                <tr>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let request of patientProfileSingle.allergies; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ request }}</td>
                </tr>
              </tbody>
            </table>
          </div>


          <div class="col-md-2"></div>

        </div>
      </div>

  </div>
</div>



























<div  [ngStyle]="{'display': isModalOpen('listStaffModal') ? 'block' : 'none'}" id="listStaffModal" class="modal" >
  <div class="modal-content">
      <span (click)="closeModal('listStaffModal')" class="close">&times;</span>
      <div>

      <form  class="row g-3 needs-validation" novalidate="">
        <div class="col-md-12"></div>
          <div class="col-md-2"></div>

          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
              <input type="text" class="form-control" id="validationCustom01"  name="searchTerm" placeHolder="Search" [(ngModel)]="searchTerm" (input)="onFilter2Change()">
            </div>
          </div>
          <div class="col-md-2">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-funnel-fill"></i></span>
            <select class="form-select" id="validationCustom1" [(ngModel)]="filterField"  name="filterField" (change)="onFilter2Change()" required>
              <option selected="" disabled="" value="" hidden>Filters</option>
              <option>Name (WIP)</option>
              <option>Id</option>
              <option>Medical Record Number</option>
              <option>Email</option>
            </select>
          </div>
          </div>

          <div class="col-md-12">
            <div class="table-wrapper" >
              <div class="table-title">
              <form [formGroup]="staffForm" (ngSubmit)="onSubmitStaff()" class="row g-3 needs-validation" novalidate="">
              <table class="table table-striped table-hover table-over"  >
                <thead>
                  <tr>
                    <tr>
                      <th>#</th>
                      <th>ID</th>
                      <th>Staff ID</th>
                      <th>First Name</th>
                      <th>Middle Name</th>
                      <th>Last Name</th>
                      <th>License Number</th>
                      <th>Role</th>
                      <th>Specialization</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Active</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let request of staffsProfiles; let i = index" (click)="selectStaff(request.staffId)" [ngClass]="{ 'selected-row': selectedStaffId === request.staffId }">
                      <td>{{ i + 1 }}</td>
                      <td><input class="selectRequest" type="radio" id="staff_{{ request.staffId }}" name="staffFormID" value="{{ request.staffId }}" [checked]="selectedStaffId === request.staffId" hidden>{{ request.id }}</td>
                      <td>{{ request.staffId }}</td>
                      <td>{{ request.name.firstName }}</td>
                      <td>{{ request.name.middleNames }}</td>
                      <td>{{ request.name.lastName }}</td>
                      <td>{{ request.licenseNumber }}</td>
                      <td>{{ request.role }}</td>
                      <td>{{ request.specialization }}</td>
                      <td>{{ request.email.fullEmail }}</td>
                      <td>{{ request.phoneNumber.number }}</td>
                      <td id="active_{{ request.staffId }}">
                        <span *ngIf="request.active; else failure" class="badge rounded-pill bg-success">Yes</span>
                        <ng-template #failure>
                          <span class="badge rounded-pill bg-danger">No</span>
                        </ng-template>
                      </td>
                  </tr>
                </tbody>
              </table>
            </form>
            </div>
          </div>
        </div>

          <div class="col-md-9"></div>
          <div class="col-md-3">
            <button class="fs-5 btn btn-outline-info" (click)="viewStaff()">View <i class="bi bi-info-square-fill"></i></button>
            <button class="fs-5 btn btn-outline-warning" (click)="editStaff()">Edit <i class="bi bi-pencil-square"></i></button>
            <button class="fs-5 btn btn-outline-danger" (click)="deactivateStaff()">Deactivate <i class="bi bi-archive-fill"></i></button>
          </div>
        </form>
      </div>

  </div>
</div>
<div [ngStyle]="{'display': isModalOpen('registerStaffModal') ? 'block' : 'none'}" id="registerStaffModal"  class="modal" >
  <div class="modal-content">
      <span (click)="closeModal('registerStaffModal')" class="close">&times;</span>
      <div>

      <form  [formGroup]="staffCreationForm" (ngSubmit)="createStaff()" class="row g-3 needs-validation" novalidate="">
        <div class="col-md-12"></div>
          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge-fill"></i></span>
              <input type="text" class="form-control" id="validationStaffName" formControlName="name" placeHolder="Name" required="">
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
              <input type="text" class="form-control" id="validationStaffEmail" formControlName="email" aria-describedby="inputGroupPrepend" required="" placeholder="Email">
              <div class="invalid-feedback">
                Please choose a email.
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
              <!--oninput="this.value = this.value.slice(0, 9)"-->
              <input type="number" class="form-control" id="validationStaffPhone" formControlName="phoneNumber" min="0" max="999999999" placeholder="Phone Number" >
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          <div class="col-md-12"></div>
          <div class="col-md-3"></div>

          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-vcard-fill"></i></span>
              <select class="form-select" id="validationRole" formControlName="role" required="">
                <option selected="" disabled="" value="" hidden>Role</option>
                <option value="DOCTOR">Doctor</option>
                <option value="NURSE">Nurse</option>
                <option value="TECHNICIAN">Technician</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-vcard-fill"></i></span>
              <select class="form-select" id="validationSpecialization" formControlName="specialization" required="">
                <option selected="" disabled="" value="" hidden>Specialization</option>
                <option value="PEDIATRICS">Pediatrics</option>
                <option value="SURGERY">Surgery</option>
                <option value="CARDIOLOGY">Cardiology</option>
                <option value="ORTHOPEDICS">Orthopedics</option>
                <option value="ANAESTHESIOLOGY">Anaesthesiology</option>
                <option value="NEUROLOGY">Neurology</option>
                <option value="ONCOLOGY">Oncology</option>
                <option value="GYNECOLOGY">Gynecology</option>
                <option value="OBSTETRICS">Obstetrics</option>
                <option value="RADIOLOGY">Radiology</option>
                <option value="UROLOGY">Urology</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>
          </div>
          <div class="col-md-12"></div>
          <hr>
          <div class="col-md-12"></div>
          <div class="dates-input">
            <ul id="dates2">
              <li *ngFor="let date of availabilitySlots2; let i = index" class="date">
                {{ date.start }} - {{ date.end }}
                <span class="delete-button" (click)="removeDate2(i)">X</span>
              </li>
            </ul>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-clock-fill"></i></span>
              <input type="datetime-local" class="form-control" id="validationStaffAvailabilityStart" formControlName="startTime">
              <input type="datetime-local" class="form-control" id="validationStaffAvailabilityEnd" formControlName="endTime">
              <span class="input-group-text" id="add" (click)="addDate2()" ><i class="bi bi-plus-lg"></i></span>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="fs-5 btn btn-outline-primary" type="submit" [disabled]="staffCreationForm.invalid">Add Staff Profile <i class="bi bi-plus-square-fill"></i></button>
          </div>
        </form>
      </div>

  </div>
</div>

<div [ngStyle]="{'display': isModalOpen('viewStaffModal') ? 'block' : 'none'}" id="viewStaffModal"  class="modal">
  <div class="modal-content">
      <span (click)="closeModal('viewStaffModal')" class="close">&times;</span>
      <div *ngIf="staffProfileSingle">
        <div  class="row g-3 needs-validation">
        <div class="col-md-12"></div>
          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge-fill"></i></span>
              <input type="text" class="form-control" disabled="" value="{{ staffProfileSingle.name.firstName }} {{staffProfileSingle.name.middleNames}} {{staffProfileSingle.name.lastName}}">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
              <input type="text" class="form-control"aria-describedby="inputGroupPrepend" disabled="" value="{{ staffProfileSingle.email.fullEmail }}">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
              <input type="text" class="form-control"  value="{{ staffProfileSingle.phoneNumber.number }}" disabled>
            </div>
          </div>
          <div class="col-md-12"></div>
          <div class="col-md-3"></div>

          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-vcard-fill"></i></span>
              <input type="text" class="form-control" value="{{ staffProfileSingle.role }}" disabled>
            </div>
          </div>

          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-vcard-fill"></i></span>
              <input type="text" class="form-control" value="{{ staffProfileSingle.specialization }}" disabled>
            </div>
          </div>
          <div class="col-md-12"></div>
          <hr>
          <div class="col-md-12"></div>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-clock-fill"></i></span>
              <span class="input-group-text" id="add">Availlability Slots</span>
            </div>
            <table class="table table-striped table-hover table-over">
              <thead>
                <tr>
                  <tr>
                    <th>#</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let request of availabilitySlots; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ request.startTime }}</td>
                    <td>{{ request.endTime }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

  </div>
</div>


<div [ngStyle]="{'display': isModalOpen('editStaffModal') ? 'block' : 'none'}" id="editStaffModal"  class="modal" >
  <div class="modal-content">
      <span (click)="closeModal('editStaffModal')" class="close">&times;</span>
      <div>

      <form *ngIf="staffProfileSingle" [formGroup]="staffEditionForm" (ngSubmit)="editStaffPost()" class="row g-3 needs-validation" novalidate="">
        <div class="col-md-12"></div>
          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge-fill"></i></span>
              <input type="text" class="form-control" disabled="" value="{{ staffProfileSingle.name.firstName }} {{staffProfileSingle.name.middleNames}} {{staffProfileSingle.name.lastName}}">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
              <input type="text" class="form-control" id="validationEditStaffEmail" formControlName="email" aria-describedby="inputGroupPrepend" required="">
              <div class="invalid-feedback">
                Please choose a email.
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
              <!--oninput="this.value = this.value.slice(0, 9)"-->
              <input type="number" class="form-control" id="validationEditStaffPhone" formControlName="phone" min="0" max="999999999" >
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          <div class="col-md-12"></div>
          <div class="col-md-3"></div>

          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-vcard-fill"></i></span>
              <input type="text" class="form-control" value="{{ staffProfileSingle.role }}" disabled>
            </div>
          </div>

          <div class="col-md-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-vcard-fill"></i></span>
              <select class="form-select" id="validationSpecialization" formControlName="specialization" required="">
                <option selected="" disabled="" value="" hidden>Specialization</option>
                <option value="PEDIATRICS">Pediatrics</option>
                <option value="SURGERY">Surgery</option>
                <option value="CARDIOLOGY">Cardiology</option>
                <option value="ORTHOPEDICS">Orthopedics</option>
                <option value="ANAESTHESIOLOGY">Anaesthesiology</option>
                <option value="NEUROLOGY">Neurology</option>
                <option value="ONCOLOGY">Oncology</option>
                <option value="GYNECOLOGY">Gynecology</option>
                <option value="OBSTETRICS">Obstetrics</option>
                <option value="RADIOLOGY">Radiology</option>
                <option value="UROLOGY">Urology</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>
          </div>
          <div class="col-md-12"></div>
          <hr>
          <div class="col-md-12"></div>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="input-group has-validation">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-clock-fill"></i></span>
              <input type="datetime-local" class="form-control" id="validationStaffAvailabilityStart">
              <input type="datetime-local" class="form-control" id="validationStaffAvailabilityEnd">
              <span class="input-group-text" id="add"><i class="bi bi-plus-lg"></i></span>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="fs-5 btn btn-outline-warning" type="submit" [disabled]="staffEditionForm.invalid">Update Staff Profile <i class="bi bi-plus-square-fill"></i></button>
          </div>
        </form>
      </div>

  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



</body>


</html>
